.movieApp {
	display: grid;
	grid-template-columns: 1fr;
	margin: 5em;
}

.movieApp > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.movieHeading {
	margin-right: 2em;
	cursor: pointer;
}

.scrollableContainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2em;
}

.hidden {
	overflow: hidden;
}

.arrowDown {
	margin-top: 0;
	width: 1em;
	height: 1em;
	font-size: 1.2em;
}

.loadMoreButtons {
	display: flex;
	justify-content: center;
}

button {
	width: 2em;
	height: 2em;
	font-size: 2em;
	background-color: var(--colorBlack);
	color: var(--colorWhite);
}
